body{
    background-color:#efefef;
}

.main  {
    margin: 40px;
    background-color: white;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.text-color{
    font-size: 14px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}